.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/distributions/sandbox.tar
sandbox/build/distributions/sandbox.zip
sandbox/build/libs/sandbox.jar
sandbox/build/scripts/sandbox
sandbox/build/tmp/compileJava/source-classes-mapping.txt
sandbox/build/scripts/sandbox.bat
sandbox/build/tmp/jar/MANIFEST.MF
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/Second.class
*.class
.idea/gradle.xml
.idea/jarRepositories.xml
sandbox/build/test-results/test/binary/output.bin
sandbox/build/test-results/test/binary/output.bin.idx
sandbox/build/tmp/compileTestJava/source-classes-mapping.txt
sandbox/out/production/classes/META-INF/sandbox.main.kotlin_module
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/tmp/compileTestJava/source-classes-mapping.txt
addressbook-web-tests/out/test/classes/META-INF/addressbook-web-tests.main.kotlin_module
addressbook-web-tests/msedgedriver.exe
addressbook-web-tests/debug.log
addressbook-web-tests/out/test/resources/contacts.json
*.json
*.jpg
*.csv
addressbook-web-tests/build/reports/tests/testContacts/classes/ru.stqa.pft.addressbook.tests.ContactAddressTests.html
addressbook-web-tests/build/reports/tests/testContacts/classes/ru.stqa.pft.addressbook.tests.ContactCreationTests.html
addressbook-web-tests/build/reports/tests/testContacts/classes/ru.stqa.pft.addressbook.tests.ContactDeletionTests.html
addressbook-web-tests/build/reports/tests/testContacts/css/style.css
*.html
*.css
*.js
*.bin
*.idx
addressbook-web-tests/build/tmp/test/jar_extract_10756748304475848905_tmp
addressbook-web-tests/build/tmp/test/jar_extract_119851533881291774_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12542108897063823373_tmp
addressbook-web-tests/build/tmp/test/jar_extract_14243944179932895151_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1424520944397697201_tmp
addressbook-web-tests/build/tmp/test/jar_extract_14448261617183553013_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15243015625755738418_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15359285405228550194_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1613213411567348110_tmp
addressbook-web-tests/build/tmp/test/jar_extract_17510440608656321179_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2243856118825707175_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2329588592538848193_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3747587386541431506_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4179145102864335270_tmp
addressbook-web-tests/build/tmp/test/jar_extract_533655038002064443_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5415456788515254222_tmp
addressbook-web-tests/build/tmp/test/jar_extract_612464322782880516_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7247364376064645651_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8066689189867500408_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8370660553902551884_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8770918851997257289_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_10243314459986069706_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_10639135094673637618_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_10644402698684027656_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_12666915563914296247_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_16214566306115689217_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_17339274096213137867_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_17459435601804030645_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_17480538103591289400_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_17609323015314768258_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_18028477022333674077_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_18420791669556544540_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_3997722824860826450_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6020243978518432017_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6451267310829475799_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7216638659307366563_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8459646066571062550_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_9944915315938830789_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7333222299619548211_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6485092484281009598_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_10478008519698592449_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_10841949404252643715_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_11287794036428114787_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_13191797890398086163_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_16239071163606091999_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_5812027874188460027_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_6568698933715574666_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_3736082887951983663_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_12590148971204201131_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_7234781043004824261_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_10557166079978230902_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8912491857646010952_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6218640990824702356_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_2074655931288501343_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_4881638833242463104_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_5351802548650036550_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_8303510155829032823_tmp
addressbook-web-tests/build/resources/test/local.properties
addressbook-web-tests/out/test/resources/local.properties
*.log
.idea/gradle.xml
.idea/qa-course-java.iml
addressbook-web-tests/build/resources/test/groups.xml
addressbook-web-tests/build/resources/test/testng-contacts.xml
addressbook-web-tests/build/resources/test/testng-groups.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactAddressTests.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactCreationTests.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactDeletionTests.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactModificationTests.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContactPhoneTests.xml
addressbook-web-tests/build/test-results/testContacts/TEST-ru.stqa.pft.addressbook.tests.ContractEmailsTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-ru.stqa.pft.addressbook.tests.GroupCreationTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-ru.stqa.pft.addressbook.tests.GroupDeletionTests.xml
addressbook-web-tests/build/test-results/testGroups/TEST-ru.stqa.pft.addressbook.tests.GroupModificationTests.xml
addressbook-web-tests/out/test/resources/groups.xml
addressbook-web-tests/out/test/resources/logback.xml
addressbook-web-tests/out/test/resources/testng-contacts.xml
addressbook-web-tests/out/test/resources/testng-groups.xml
addressbook-web-tests/src/test/resources/groups.xml
addressbook-web-tests/src/test/resources/testng-contacts.xml
addressbook-web-tests/src/test/resources/logback.xml
